.error {
    &__wrapper {
        width: 100%;
        position: relative;
    }
    &__text {
        width: 100%;
        position: absolute;
        bottom: 0.4rem;
        margin: 0;
        text-align: center;
        color: red;
    }

}