.label {
  margin: 0;
  font-size: 1.2em;
  font-weight: 500;
}

.wrap-user-info {
  margin-bottom: 0.5rem;
}

.list {
  list-style: none;
  margin: 0.3rem 0 0;
  padding: 0;
  padding-left: 1rem;
}

.social {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  &__item {
    flex-basis: 50px;
    margin-right: 0.5rem;
    img {
      max-width: 100%;
    }
  }
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 3.5em;
  text-align: center;
}