.news {
  &-container {
    margin-top: 1.5rem;
  }
  &-item {
    margin-top: 2rem;
    &__title {
      color: rgb(52, 49, 70);
      font-size: 1.3em;
      text-align: center;
      line-height: 1em;
      margin: 0 0 0.8rem;
    }
  }
  &-count {
    text-align: right;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 2rem;
    color: rgb(52, 49, 70);
  }
}
