.header {
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}

.main-nav {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 0;
	padding: 0;
	&__item {
		padding: 0.5rem 1.3rem;
		background-color: #37a0f7;
		transition: background-color 0.4s;
		text-decoration: none;
		color: #fff;
		letter-spacing: 2px;	
		&.active {
			background-color: #206ead;
		}	
		&:hover {
			background-color: #1879c9;
		}
	}
	li {
		margin-right: 1rem;
		&:last-of-type {
			margin-right: 0;
		}
	}
	
}