.loading {
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3rem 4rem;
        max-width: 200px;
        margin: 0 auto;
    }
    &__image {
        max-width: 100%;
    }
}