.container {
    display: flex;
    justify-content: center;
    min-height: 100%;
    background-color: #eef;
}

.page {
    width: 900px;
    max-width: 100%;
    background-color: #fff;
    min-height: 100%;
    padding: 5rem 3rem;
    position: relative;
}

.title {
    margin: 3rem 0 2rem;
    text-align: center;
}


.login-form {
    display: flex;
    width: 100%;
    max-width: 400px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin: 2.5rem auto;
    input {
        box-sizing: border-box;
        margin-bottom: 1.8rem;
    }
    .wrapper {
        position: relative;
        width: 100%;
        text-align: center;
        .error {
            position: absolute;
            bottom: 0.3rem;
            left: 50%;
            color: red;
            transform: translateX(-50%);
            width: 100%;
        }

    }    
    .error-msg {        
        color: red;
        margin-bottom: 1rem;
    }
    button {
        font-size: 0.8em;
        margin-top: 0.5rem;
        text-transform: uppercase;
        padding: 0.5rem 1rem;
        cursor: pointer;
    }   
}

input {
    display: inline-block;
    width: 100%;
    padding: 0.3em 0.5em;
    margin-bottom: 1.3rem;
    font-size: 1em;
    border-radius: 3px;
    &[type=checkbox] {
        width: auto;
    }
}